*, *:after, *:before {
  box-sizing: border-box;
}


html {
  font-family: monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #002b36;
}

body {
  font-family: "Fira Code", "SFMono-Regular", Consolas, "Roboto Mono",
    "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  font-size: 100%;
  color: #93A1A1;
  width: 100%;
  margin: 0;
  background-color: #002b36;
}

pre, code {
  font-family: "Fira Code", "SFMono-Regular", Consolas, "Roboto Mono",
    "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
}

hr {
  border-color: #93A1A1;
}

a {
  text-decoration: none;
  /* color: #859900; */
  color: #168DCF;
}

.page {
  max-width: 45em;
  padding-left: 3em;
  padding-right: 3em;
}

.footer {
  max-width: 45em;
  margin-top: 4em;
  padding-left: 3em;
  padding-right: 3em;
}

.footer__text {
  margin-top: 2.5em;
  width: 100%;
}

.pageContent {
  margin-top: 4em;
}

.pageTitle {
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 1.2em;
  /*
  color: ${theme.header};
  */
}


.titleFrame {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border: 4px double;
   margin-top: 16px;
   margin-bottom: 16px;
   padding-top: 8px;
   padding-left: 8px;
   padding-right: 8px;
}

.titleText {
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  margin: 0px 0px 8px 0px;
  text-align: center;
  transition: color 150ms ease-out;
}

._withAccent {
  color: #2aa198;
}

.mainMenu {
  margin: 0;
  padding: 0;
}

.mainMenu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  body {
    font-size: 110%;
  }

  .page {
    padding-left: 1.7em;
    padding-right: 0.7em;
  }

  .footer {
    padding-left: 2.7em;
    padding-right: 0.7em;
  }

  .mainMenu__list {
    flex-direction: column;
  }

  .mainMenu__listItem {
    margin-bottom: 1em;
  }

  .pageContent {
    margin-top: 2em;
  }

  .postContent {
    padding-left: 1em;
  }
}

.mainMenu li {
  padding: 0;
}

.postList {
  list-style: none;
  padding: 0;
  margin: 0;
}


.postList__item {
  padding: 0;
  margin-bottom: 2.8em;
}


.postSummary__date {
  /*
  color: ${theme.date}
  */

}

.postSummary__summary {
  margin-top: 1.2em;
}

.decoratedLink {
  text-decoration: none;
  cursor: pointer;
  /* background-color: #168DCF;*/
  background-color: #859900;
  color: #002b36;
  padding-top: 2px;
  padding-bottom: 2px;
}

.decoratedLink:focus .decoratedLink__text,
.decoratedLink:hover .decoratedLink__text {
  text-decoration: none;
}

.decoratedLink__decoration {
  /*
   * color: ${theme.text};
   */
  user-select: none;
  text-decoration: none;
}

.decoratedLink__text {
  margin-right: 1em;
  margin-left: 1em;
  color: #002b36;
  /*
  color: ${theme.link};
  */
}

.postContent li + li {
  margin-top: 0.7em;
}

.postContent ul {
  padding: 0;
}

.postContent ul ul {
  padding-left: 1.2em;
}

.postContent h1,
.postContent h2,
.postContent h3,
.postContent h4 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 2.2em;
  margin-bottom: 1em;
  position: relative;
  color: #2aa198; /*cb4b16;*/
}

.postContent h1:before,
.postContent h2:before,
.postContent h3:before,
.postContent h4:before {
  color: #073642;
  position: absolute;
  text-align: right;
  left: -2.5em;
  width: 2em;
  top: 0;
}

.postContent h1:before {
  content: '#';
}

.postContent h2:before {
  content: '##';
}

.postContent h3:before {
  content: '###';
}

.postContent h4:before {
  content: '####';
}

.postContent strong {
  color: #d33682;
  font-weight: normal;
}

.logo {
  width: 100%;
  margin-bottom: 2.2em;
}

code {
  background-color: rgba(0,0,0,0.15);
  padding-left: 4px;
  padding-right: 4px;
}
